<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <script src="https://kit.fontawesome.com/74c0b2949d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <script src="/css/index.js"></script> 
</head>
<body>
        <header>
            <i class="fa fa-school"></i>
            <p>Personal Activities</p>
            <div class="navigation">
            <ul>
                <li class="list active">
                    <a  onclick="scrollToSection('cont')">
                        <span class="icon"><ion-icon name="home-outline"></ion-icon></span>
                        <span class="text">Home</span>
                    </a>
                </li>
                <li class="list">
                    <a onclick="scrollToSection('contact')">
                        <span class="icon"><ion-icon name="chatbubbles-outline"></ion-icon></span>
                        <span class="text">Contact</span>
                    </a>
                </li>
                <div class="indicator"></div>
            </ul>
        </div>
        </header>
    <!--Home-->
        <section class="container" id="cont">
            <div class="result">
            {{#if msg}}
            <p class="{{msg_type}}">{{msg}}</p>
            {{/if}}
            </div>
        <div class="content-box" id="container">
            <img src="/css/img/image.jpg">
            <h1>“The expert in anything</h1>
            <h1 class="p2">was once a beginner.”</h1>
            <h2>Start Your Session with us</h2>
            <button id="toggle" class="toggle" onclick="popup();">Join Us</button>
        </div>
        <div class="login" id="login">
            <div class="form-container">
                <div class="signin-signup">
                    <form action="/aruth/login" method="post" class="signin-form">
                        <h1 class="title">Student Signin</h1>
                        <div class="input-feild">
                            <i class="fa fa-user"></i>
                            <input type="text" name="username" id="username" placeholder="Username" required>
                        </div>
                        <div class="input-feild">
                            <i class="fa fa-lock"></i>
                            <input type="password" name="password" id="password" placeholder="Password" required>
                        </div>
                        <input type="submit" value="Login" class="btn solid">
                        <div class="social-media">
                            <a href="/admin">Admin Login</a>
                        </div>
                    </form>

                    <form action="/aruth/register" method="post" class="signup-form">
                        <h1 class="title">Sign Up</h1>
                        <div class="input-feild">
                            <i class="fa fa-user"></i>
                            <input type="text" name="username" id="username" placeholder="Username" required>
                        </div>
                        <div class="input-feild">
                            <i class="fa fa-envelope"></i>
                            <input type="email" name="email" id="email" placeholder="Email" required>
                        </div>
                        <div class="input-feild">
                            <i class="fa fa-lock"></i>
                            <input type="password" name="password" id="password" placeholder="Password" required>
                        </div>
                        <input type="submit" value="Sign Up" class="btn solid">
                        
                    </form>
                </div>
                <button class="fa fa-close" onclick="popupc();"></button>
            </div>
            <div class="panels-container">
                <div class="left-panel">
                    <div class="content">
                            <h3>New Here?</h3>
                            <p>Come and join our community.
                                Let's set up your account</p>
                            <button class="btn transparent" id="sign-up-btn">Sign Up</button>
                    </div>
                    <img src="/css/img/signin.jpg">
                </div>
                <div class="right-panel">
                    <div class="content">
                            <h3>Have an account?</h3>
                            <p>Continue to join our community.Login using your account</p>
                            <button class="btn transparent" id="sign-in-btn">Sign In</button>
                    </div>
                    <img src="/css/img/signin.jpg">
                </div>
            </div>
        </div>
        </section>
    <!--Home-->

    <!--contact-->
        <section class="contact" id="contact">
            <div class="us">
                <div class="sample">
                    <h2>Get In touch</h2>
                </div>
                <div class="box">
                    <div class="contact-form">
                        <h3>Send A Message</h3>
                        <form>
                            <div class="formbox">
                                <div class="row50">
                                    <div class="inputbox">
                                        <span>First Name</span>
                                        <input type="text" placeholder="Ex. John">
                                    </div>
                                    <div class="inputbox">
                                        <span>Mobile</span>
                                        <input type="text" placeholder="12345678">
                                    </div>
                                    <div class="inputbox">
                                        <span>Message</span>
                                        <textarea placeholder="Write Your Message"></textarea>
                                    </div>
                                    <div class="submit">
                                        <button>Send</button>
                                    </div>

                                </div>
                                    <div class="second">
                                        <div class="inputbox">
                                            <span>Last Name</span>
                                            <input type="text" placeholder="Ex. Peter">
                                        </div>
                                        <div class="inputbox">
                                            <span>Email</span>
                                            <input type="email" placeholder="Ex. JohnPeter@gmail.com">
                                        </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="contact-info">
                        <h3>Contact Info</h3>
                        <div class="infobox">
                            <span><ion-icon name="location-outline"></ion-icon></span>
                            <p>BIT,SATHY,TAMIL NADU</p>
                        </div>
                        <div class="infobox">
                            <span><ion-icon name="mail-open-outline"></ion-icon></span>
                            <a href="mailto:xyz@gmail.com">xyz@gmail.com</a>
                        </div>
                        <div class="infobox">
                            <span><ion-icon name="logo-linkedin"></ion-icon></span>
                            <a href="xyz">Linkedin</a>
                        </div>
                        <div class="infobox">
                            <span><ion-icon name="logo-github"></ion-icon></span>
                            <a href="https://github.com/vaishal-as">Github</a>
                        </div>  
                        <div class="infobox">
                            <span><ion-icon name="call-outline"></ion-icon></span>
                            <a href="tel:123456789">123456789</a>
                        </div>
                    </div>
                    
                </div>
            </div>
            
        </section>
        <script>
        const list=document.querySelectorAll('.list');
        function activatelink(){
            list.forEach((item) => item.classList.remove('active'));
            this.classList.add('active');   
        }
        list.forEach((item) => item.addEventListener('click',activatelink));
        const sign_up_btn=document.querySelector('#sign-up-btn');
        const sign_in_btn=document.querySelector('#sign-in-btn');
        const form_container=document.querySelector('.login');

        sign_up_btn.addEventListener('click',() => {
            form_container.classList.add('sign-up-mode');
        })
        sign_in_btn.addEventListener('click',() => {
            form_container.classList.remove('sign-up-mode');
    })
        </script>
        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    </body>
</html>
